// --- 1. GEOMETRÍA Y BORDES ---

spawn-at-startup "waybar"

layout {
    // Las ventanas tomarán por defecto la mitad de tu pantalla
    default-column-width { proportion 1.0; }

    // Separación mínima entre las ventanas de la cinta
    gaps 8

    // Desactivamos el "anillo" difuminado que viene por defecto
    focus-ring {
        off
    }

    // Bordes afilados y estrictos
border {
        width 2
        active-color "#ffffff" // Blanco puro para la ventana en foco
        inactive-color "#000000" // Negro puro para camuflarse con el fondo
    }
}

// --- 2. FÍSICA Y ANIMACIONES ---
animations {
    // Multiplicador general (1.0 es velocidad normal pura)
    slowdown 1.0

    // Transición de áreas de trabajo dura y rígida
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    // Apertura y cierre rápido de ventanas (150ms)
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-expo"
    }

    // Movimiento horizontal tenso por la cinta infinita
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

// --- 3. SISTEMA NERVIOSO (HARDWARE) ---

input {
    keyboard {
        xkb {
            // Teclado en inglés (US)
            layout "us"
        }
    }

    touchpad {
        // Habilitar toque para hacer clic y scroll natural
        tap
        natural-scroll
    }
}

// --- 4. ATAJOS DE TECLADO (FLUJO VIM) ---
binds {
    // Comandos Base
    Mod+Q { spawn "alacritty"; } // Abrir terminal (Alacritty)
    Mod+C { close-window; }           // Cerrar la ventana actual
    Mod+Shift+E { quit; }             // Matar el servidor Niri y volver a la consola negra
    Mod+Space { spawn "wofi" "--show" "drun"; }
    Mod+Shift+P { spawn "sh" "-c" "grim -g \"$(slurp)\" - | wl-copy"; }

// --- Navegación WASD (Mover la vista por la cinta) ---
    Mod+A { focus-column-left; }  // Mirar a la izquierda
    Mod+D { focus-column-right; } // Mirar a la derecha
    Mod+S { focus-window-down; }  // Mirar abajo (si hay ventanas apiladas)
    Mod+W { focus-window-up; }    // Mirar arriba

    // --- Manipulación WASD (Empujar ventanas físicamente) ---
    Mod+Shift+A { move-column-left; }
    Mod+Shift+D { move-column-right; }
    Mod+Shift+S { move-window-down; }
    Mod+Shift+W { move-window-up; }

    Mod+Tab { spawn "sh" "-c" "killall -SIGUSR1 waybar"; }
}
